<!-- Sección con componente de dos columnas -->
<section id="twoColumnComponent" class="text-center my-5">
    <div class="text-center mt-6 tituloLibro">
        <h2>LIBRO</h2>
        <br>
        <br>
    </div>
    <div class="container">
        <div class="row">
            <!-- Columna izquierda -->
            <div class="col-md-6">
                <div class="image-container">
                    <img src="./assets/fotos/portada1.png" class="img-fluid" alt="Imagen 1">
                    <div class="image-text">
                        <p>Acompaña a nuestra protagonista en un día de su vida desde el primer destello de luz acompañado de una paleta de color fria hasta el apogeo de día cuando los tonos cálidos dan vida a cada flor y cada rincón del invernadero.</p>
                    </div>
                </div>
            </div>
            <!-- Columna derecha -->
            <div class="col-md-6">
                <div class="image-container">
                    <img src="./assets/fotos/portada2.png" class="img-fluid" alt="Imagen 2">
                    <div class="image-text">
                        <p>Este libro va más allá de ser simplemente una colección de fotografías; se posiciona como un homenaje artístico a estas mujeres cuya labor florece en medio del constante ajetreo de la ciudad. Cada página revela la historia singular que combina delicadeza y fuerza, resaltando la contribución vital de estas trabajadoras al tejido urbano.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Párrafo común para ambas columnas -->
        <div class="row mt-3">
            <div class="col-md-12 parrafoLibro">
                <p>Sumérgete en dos historias cautivadoras en donde vivirás un día en la vida tanto de
                    una mujer floricultora como el día de una mujer vendedora de flores</p>
            </div>
        </div>
    </div>
</section>
<!-- Fin Sección con componente de dos columnas -->
