<section id="teamCards" class="text-center my-5">
    <div class="text-center mt-6 titulo">
        <h2>EQUIPO</h2>
        <br>
        <br>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="team-member-container">
                    <div class="team-card text-center mt-5">
                        <div class="member-image">
                            <img src="assets/fotos/alvaro.jpeg" alt="Foto de Alvaro vergara">
                        </div>
                        <div class="card-body">
                            <h4>ÁLVARO VERGARA</h4>
                            <p>Diseñador gráfico con sólidas habilidades creativas y técnicas. Experto en el uso de Adobe Creative Suite y destacado en diseño visual, tipografía y color. Especializado en la creación de logotipos, branding y material impreso/digital. Poseo un ojo crítico para el diseño y la capacidad de comunicar de manera efectiva a través de elementos visuales. Con experiencia en proyectos diversos, ofrezco soluciones visuales impactantes y coherentes.</p>
                        </div>
                        <div class="card-footer">
                            <div class="social-icons">
                                <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
                                <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                                <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-md-3">
                    <div class="team-member-container">
                        <div class="team-card text-center my-5">
                            <div class="member-image">
                                <img src="assets/fotos/Nico.png" alt="Foto de Nicolas aguilar">
                            </div>
                            <div class="card-body">
                                <h4>NICOLÁS AGUILAR</h4>
                                <p>Desarrollador de medios gráficos visuales, ilustrador, dado a la escucha y asertivo en la
                                    comunicación, integrante de ANTE editorial y con participación en el proyecto “Entre calles y
                                    Raíces de mujer”, con énfasis en ilustración, diseño editorial, diseño web y algunas piezas
                                    promocionales. Además, de dinamizador ante las ideas contrastadas en la toma de
                                    decisiones, y siempre beneficiando al colectivo.</p>
                            </div>
                            <div class="card-footer">
                                <div class="social-icons">
                                    <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
                                    <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                                    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                                    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-member-container">
                        <div class="team-card text-center my-5">
                            <div class="member-image">
                                <img src="assets/fotos/thal.jpg" alt="foto deThalia Perez">
                            </div>
                            <div class="card-body">
                                <h4>THALÍA PÉREZ</h4>
                                <p>Diseñadora gráfica y miembro activo del colectivo ANTE EDITORIAL, contribuí al desarrollo del proyecto "Entre Calles y Raíces de Mujer". Durante esta iniciativa, desempeñé un papel integral en la ejecución de diversas acciones con el objetivo de alcanzar el mejor resultado posible. Esto incluyó tareas como la diagramación, la fotografía, el diseño de la página web y la creación de piezas promocionales.
                                   </p>
                            </div>
                            <div class="card-footer">
                                <div class="social-icons">
                                    <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
                                    <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                                    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                                    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="team-member-container">
                        <div class="team-card text-center my-5">
                            <div class="member-image">
                                <img src="assets/fotos/erick.png" alt="Foto de Erick PERUGACHI">
                            </div>
                            <div class="card-body">
                                <h4>ERICK PERUGACHI</h4>
                                <p>Diseñador gráfico e integrante del grupo ANTE el cual desarrolló el proyecto "Entre calles y raices de mujer", durante el proyecto fui participe de las acciones que se llevaron a cabo en cuanto a ilustración, diagramación corrección de estilos, además de apoyar en otros aspectos los cuales fueron de vital importancia para poder llevar el proyecto al mejor resultado posible.</p>
                            </div>
                            <div class="card-footer">
                                <div class="social-icons">
                                    <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
                                    <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                                    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                                    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
