<section id="youtubeVideoSection" class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Video de YouTube con ajuste automático -->
                <div style="position: relative; overflow: hidden; padding-top: 56.25%;">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/xhcQsQHhLPI?si=O6KdQoyAmjt2Cgb2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>